.input__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.text-field__input,
.text-field__input_valid {
  width: calc(100% - (2 * 15px));
  padding: 15px;
  margin-top: 10px;
  border: none;
  justify-self: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 8px;
  outline: none;
}

.text-field__input_valid {
  color: #ee3465;
}

.message__error {
  display: inline-block;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  grid-area: err;
}

@media screen and (max-width: 767px) {
  .input__label {
    margin-top: 10px;
    width: 100%;
  }
}
