.movies-card-article {
  width: 364px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  height: 271px;
}

.movies-card-article__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 9px;
  grid-template-areas:
  "title icon"
  "subtitle  icon";
  padding: 14px;
  justify-content: space-between;
}

.movies-card-article__title {
  grid-area: title;
  max-width: 290px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  /* box-sizing: border-box; */
  margin: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden; */
}

.movies-card-article__subtitle {
  grid-area: subtitle;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  /* box-sizing: border-box; */
  margin: 0;
  text-align: left;
}

.movies-card-article__favorite-button {
  grid-area: icon;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: unset;
  background: url(../../images/icon__card_activ.svg);
  margin-left: auto;
  /* display: flex;
  align-items: center; */
  align-self: center;
  cursor: pointer;
}

.movies-card-article__image {
  width: 364px;
  height: 203px;
  object-fit: cover;
  object-fit: contain;
}

@media screen and (max-width: 1023px) {
  .movies-card-article {
    width: 339px;
  }

  .movies-card-article__title {
    width: 265px;
  }

  .movies-card-article__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-article {
    width: 300px;
  }

  .movies-card-article__title {
    width: 226px;
  }

  .movies-card-article__image {
    width: 300px;
    height: 168px;
  }
}

@media screen and (max-width: 319px) {
  .movies-card-article {
    width: 100%;
  }

  .movies-card-article__title {
    max-width: 226px;
    width: 100%;
  }

  .movies-card-article__image {
    width: 100%;
    height: auto;
  }
}
