.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
  height: 471px;
  text-align: center;
  margin-top: 52px;
}

.profile__group {
  display: grid;
  align-items: center;
  width: 100%;
  margin: 16px 0;
  grid-template-areas:
    "label input"
    "err err";
}

.profile__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  grid-area: label;
  text-align: left;
}

.profile__text-field,
.profile__text-field_valid {
  grid-area: input;
  width: 100%;
  border: none;
  text-align: right;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  border-radius: 8px;
  outline: none;
}

.profile__text-field_valid {
  color: #ee3465;
}

.profile__input-text_link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #ee3465;
}

.profile__group:nth-child(2) {
  margin-top: 83px;
}

.profile__form_submit-button {
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background: #FFFFFF;
  color: #000000;
}
