.header {
  width: calc(100% - 140px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-top: 18px;
  margin-bottom: 18px;
  height: 38px;
  width: 38px;
}

.header__logo:hover {
  opacity: 0.8;
}

@media (max-width: 999px) {
  .header__logo {
    margin: 28px 0 33px 27px;
    width: 103px;
  }
}

@media (max-width: 1279px) {
  .header {
    width: calc(100% - (6 * 19px));
  }
}

@media (max-width: 994px) {
  .header {
    width: 100%;
  }
}
